<% if user_signed_in? %>
  <%= link_to "Create New Post", new_admin_post_path, class: "btn btn-default btn-lg pull-right", id: "new-post-btn" %>
<% end %>
<div class="container">
  <h2>POSTS</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    	<% if @posts.empty? %>
			  <h1 id="no-posts">No Posts Created</h1>
			<% else %>
			
	    <% @posts.each do |post| %>	
	      <tr id="post_<%= post.id %>">
	        <td><%= post.title.capitalize %></td>
	        <td><%= post.created_at.strftime('%d %B, %Y')%></td>
	        <td>
	        <% if post.is_published? %>
	         <%= link_to '<button>Unpublish</button>'.html_safe, admin_publish_path(id: post.id,status: "unpublish"), method: "patch", remote: true%>
	        <% else %>
	          <%= link_to '<button>Publish</button>'.html_safe, admin_publish_path(id: post.id, status: "publish"), method: "patch", remote: true %>
	        <% end %>
	        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"><span class="tooltiptext">Edit</span></i>'.html_safe, edit_admin_post_path(id: post.id)%>
	        <%= link_to '<i class="fa fa-trash" aria-hidden="true"><span class="tooltiptext">Delete</span></i>'.html_safe, admin_post_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
	        <%= link_to '<i class="fa fa-eye" aria-hidden="true"><span class="tooltiptext">View</span></i>'.html_safe, post_path(id: post.id)%>
	        </td>
	      </tr>  
	      <% end %> 
	    
	      <%end %>   
     
    </tbody>
  </table>
</div>